<?xml version="1.0" ?>

<!-- Checkstyle configuration composed by Vladislav Bauer (https://github.com/vbauer) -->
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
    <module name="SuppressWarningsFilter" />

    <module name="FileLength">
        <property name="max" value="1000"/>
    </module>
    <module name="FileTabCharacter"/>
    <module name="NewlineAtEndOfFile">
        <property name="lineSeparator" value="lf"/>
    </module>
    <module name="SuppressionCommentFilter"/>
    <module name="Translation"/>

    <!--<module name="StrictDuplicateCode"/>-->

    <module name="TreeWalker">
        <module name="SuppressWarningsHolder" />
        <module name="AnnotationUseStyle"/>
        <module name="AnonInnerLength"/>
        <module name="ArrayTrailingComma"/>
        <module name="ArrayTypeStyle"/>
        <module name="AvoidNestedBlocks"/>
        <module name="BooleanExpressionComplexity"/>
        <module name="ClassDataAbstractionCoupling"/>
        <module name="ClassFanOutComplexity"/>
        <module name="ClassTypeParameterName">
            <property name="format" value="^[A-Z]*$"/>
        </module>
        <module name="CovariantEquals"/>
        <module name="ConstantName"/>
        <module name="CyclomaticComplexity"/>
        <module name="DeclarationOrder"/>
        <module name="DefaultComesLast"/>
        <module name="DescendantToken"/>
        <module name="EmptyBlock"/>
        <module name="EmptyForInitializerPad"/>
        <module name="EmptyForIteratorPad"/>
        <module name="EmptyStatement"/>
        <module name="EqualsAvoidNull"/>
        <module name="EqualsHashCode"/>
        <module name="ExecutableStatementCount"/>
        <module name="ExplicitInitialization"/>
        <module name="FileContentsHolder"/>
        <module name="FallThrough"/>
        <module name="FinalClass"/>
        <module name="FinalLocalVariable"/>
        <module name="FinalParameters"/>
        <module name="GenericWhitespace"/>
        <module name="HideUtilityClassConstructor"/>
        <module name="IllegalImport"/>
        <module name="IllegalInstantiation"/>
        <!--<module name="IllegalThrows"/>-->
        <module name="IllegalTokenText"/>
        <module name="Indentation"/>
        <module name="InnerAssignment"/>
        <module name="InnerTypeLast"/>
        <module name="InterfaceIsType"/>
        <module name="JavaNCSS"/>
        <module name="JavadocStyle"/>
        <module name="JavadocType"/>
        <module name="LeftCurly"/>
        <module name="LineLength">
            <property name="max" value="120"/>
        </module>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MemberName"/>
        <module name="MethodCount"/>
        <module name="MethodLength"/>
        <module name="MethodName"/>
        <module name="MethodParamPad"/>
        <module name="MethodTypeParameterName">
            <property name="format" value="^[A-Z]*$"/>
        </module>
        <module name="MissingDeprecated"/>
        <module name="MissingOverride"/>
        <module name="MissingSwitchDefault"/>
        <module name="ModifiedControlVariable"/>
        <module name="ModifierOrder"/>
        <module name="MultipleStringLiterals"/>
        <module name="MultipleVariableDeclarations"/>
        <module name="MutableException"/>
        <module name="NPathComplexity"/>
        <module name="NeedBraces"/>
        <module name="NestedForDepth"/>
        <module name="NestedIfDepth">
            <property name="max" value="3"/>
        </module>
        <module name="NestedTryDepth">
            <property name="max" value="2"/>
        </module>
        <module name="NoClone"/>
        <module name="NoFinalizer"/>
        <module name="NoWhitespaceAfter"/>
        <module name="NoWhitespaceBefore"/>
        <module name="OneStatementPerLine"/>
        <module name="OperatorWrap"/>
        <module name="OuterTypeFilename"/>
        <module name="OuterTypeNumber"/>
        <module name="PackageAnnotation"/>
        <module name="PackageDeclaration"/>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="ParameterNumber"/>
        <module name="ParenPad"/>
        <module name="RedundantImport"/>
        <module name="RedundantModifier"/>
        <module name="RightCurly"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="StaticVariableName"/>
        <module name="StringLiteralEquality"/>
        <module name="SuppressWarnings"/>
        <module name="ThrowsCount">
            <property name="max" value="3"/>
        </module>
        <module name="TrailingComment"/>
        <module name="TypeName"/>
        <module name="TypecastParenPad"/>
        <module name="UncommentedMain"/>
        <module name="UnnecessaryParentheses"/>
        <module name="UnusedImports"/>
        <module name="UpperEll"/>
        <module name="VisibilityModifier">
            <property name="protectedAllowed" value="true"/>
        </module>
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround"/>

        <!-- Unused checks: -->
        <!--<module name="AbstractClassName"/>-->
        <!--<module name="AvoidInlineConditionals"/>-->
        <!--<module name="DesignForExtension"/>-->
        <!--<module name="Header"/>-->
        <!--<module name="HiddenField"/>-->
        <!--<module name="IllegalCatch"/>-->
        <!--<module name="IllegalToken"/>-->
        <!--<module name="IllegalType"/>-->
        <!--<module name="ImportControl"/>-->
        <!--<module name="ImportOrder"/>-->
        <!--<module name="JavadocMethod"/>-->
        <!--<module name="JavadocPackage"/>-->
        <!--<module name="JavadocVariable"/>-->
        <!--<module name="MagicNumber"/>-->
        <!--<module name="MissingCtor"/>-->
        <!--<module name="Regexp"/>-->
        <!--<module name="RegexpHeader"/>-->
        <!--<module name="RegexpMultiline"/>-->
        <!--<module name="RegexpSingleline"/>-->
        <!--<module name="RegexpSinglelineJava"/>-->
        <!--<module name="RequireThis"/>-->
        <!--<module name="ReturnCount"/>-->
        <!--<module name="SuperClone"/>-->
        <!--<module name="SuperFinalize"/>-->
        <!--<module name="TodoComment"/>-->

    </module>
</module>
