name: Examples CI

on:
  workflow_call:
    inputs:
      version:
        required: false
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: examples
    name: Java ${{ matrix.java }}
    strategy:
      matrix:
        java: [17, 21]

    steps:
      - uses: actions/checkout@v5

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build and Check
        env:
          ORG_GRADLE_PROJECT_guiceyBom: ${{ inputs.version }}
        run: |
          chmod +x gradlew
          ./gradlew build --no-daemon
